{% comment %}
  TODO
{% endcomment %}
<ul class="nav navbar-nav navbar-right">
  {% comment %}
    ************************************************************
    Render a link to the cart.
    ************************************************************
  {% endcomment %}
  <li>
    <a href="/cart"><span data-translate="cart.cart">{{ 'cart.cart' | t }}</span> ({{ cart.total_price | money }})</a>
  </li>

  {% comment %}
    ************************************************************
    If customer account are enabled, render a login link.
    If the customer is logged in, render a dropdown with a link
    to their account, or to log out.
    ************************************************************
  {% endcomment %}
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
    <li class="dropdown">
      <a href="/account">{{ customer.first_name | escape }} {{ customer.last_name | escape }} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="/account" data-translate="customer.account.my_account">{{ 'customer.account.my_account' | t }}</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/account/logout" data-translate="customer.account.log_out">{{ 'customer.account.log_out' | t }}</a>
        </li>
      </ul>
    </li>
  {% else %}
    <li>
      <a href="/account/login" data-translate="customer.account.log_in">{{ 'customer.account.log_in' | t }}</a>
    </li>
  {% endif %}
  {% endif %}
</ul>

<form class="navbar-form navbar-right">
    <div class="form-group">
        <select class="form-control" data-update="locale">
            {% assign supported_locales = 'en,sv' | split: ',' %}
            {% for locale in supported_locales %}
                <option value="{{ locale }}" data-translate="general.locales.{{ locale }}" {% if shop.locale == locale %}selected="selected"{% endif %}>{{ 'general.locales.' | append: locale | t }}</option>
            {% endfor %}
        </select>
    </div>
</form>
